sudo: false
language: python
python:
  - "2.7"
  - "pypy"
install:
  - pip install twisted pyOpenSSL service_identity pyflakes coverage python-coveralls
script:
  - make pyflakes
  - python setup.py build
  - coverage run `which trial` foolscap
after_success:
  - coveralls
matrix:
  allow_failures:
    - python: "pypy"
