include ChangeLog MANIFEST.in NEWS LICENSE
include doc/*.txt doc/*.xhtml doc/*.css doc/template.tpl
include doc/listings/*.py
include doc/specifications/*.xhtml
include Makefile
include misc/dapper/debian/*
include misc/edgy/debian/*
include misc/feisty/debian/*
include misc/gutsy/debian/*
include misc/hardy/debian/*
include misc/sarge/debian/*
include misc/etch/debian/*
include misc/sid/debian/*
include misc/testutils/*
include misc/testutils/twisted/plugins/*
include misc/classify_foolscap.py
